:root {
    --bg: #ffffff;
    --blue: #55ADD0;
    --grey: #7B88A1;
    --card: #7B88A1;
    --txt: #191C22;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto+Mono&display=swap');

body {
    background-color: var(--bg);
    color: var(--blue);
    font-family: 'Montserrat', sans-serif;
    margin: 30px 37px 0px 37px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
p{
    font-family: 'Roboto Mono', monospace;
    color: var(--txt);
}

#loader{
    position: absolute;
    width: 98%;
    height: 96.9%;
    margin-left: -10px;
    margin-top: -10px;
    background-color: var(--bg);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.fa-moon{
    color: var(--grey);
    cursor: pointer;
}

.header1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

.header1 li{
    display: inline-block;
    margin-right: 20px;
}

.langop{
    position: absolute;    
}
.langop li{
    position: relative;
    margin-left: 10;
    color: var(--grey);
    margin-top: -8 px;
}

#logo_loader{
    width: 3em;
    height: 3em;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: loader;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

#logo_loader p{
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
    color: var(--blue);
    cursor: default;
    animation-name: loadertxt;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.logo{
    width: 3em;
    height: 3em;
    border-style: solid;
    border-radius: 50%;
    border-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.logo p{
    margin: 0px;
    font-size: 1em;
    font-weight: bold;
    color: var(--blue);
    cursor: pointer ;
}

#lang{
    font-size: .8em;
    cursor: pointer;
}
#lang p{
    color: var(--grey)
}
.nav{
    float: right;
    margin-top: -2.3rem;
    color: var(--txt);
}

.btn_cv{
    color: var(--blue);
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: var(--blue);
    padding: 3px 25px 3px 25px;
    margin-top: -4px;
}
.nav_active{
    color: var(--blue)
}

.nav li{
    margin-right: 35px;
}  


.fa-github{
    position: fixed;
    bottom: 31px;
    font-size: 2.5rem;
    color: var(--grey);

    animation-name: animategithub;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.email{
    position: fixed;
    width: 400px;
    right: -170px;
    bottom: 160px;
    transform: rotate(90deg);
}
.email a{
    text-decoration: none;
    color: var(--blue);
    display: inline-block;
    font-family: 'Roboto Mono', monospace;
}
.email hr{
    border: 1.5px solid;
    border-color: var(--blue);
    opacity: 1;
    width: 150px;
    display: inline-block;
    margin: 0px;
    margin-bottom: 3px;
}

::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--bg); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--grey);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--blue); 
  }

  header{
    position: fixed;
    width: 97%;
    top: 0px;
    padding-top: 30px;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

/*----------------------------------------------------------------------------- RESPONSIVE*/
@media screen and (max-width: 670px){

    .nav{
        display:none;
    }
    .nav-responsive{
        display: flex;
        float: right;
        position: absolute;
        right: 37px;
        top:35px
    }
    .bars div{
        width: 40px;
        height: 5px;
        background-color: var(--blue);
        margin-top: 6px;
        border-radius: 10px;
    }
}


/*----------------------------------------------------------------------------- ANIMATIONS*/
@keyframes loader {
    0%   {border-color: var(--blue);}
    75%  {border-color: var(--bg);}
    100%   {border-color: var(--blue);}    
  }
  @keyframes loadertxt {
    0%   {color: var(--blue);}
    72%  {color: var(--bg);}
    100%   {color: var(--blue);}    
  }

  @keyframes animategithub {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-10deg);}
    100% {transform: rotate(0deg);}
  }