/*----------------------------------------------------- */

html,
body,
header, 
.view ,
#page{
  height: 100%;
  font-family: Roboto;
}
body{
  background-color: rgb(25, 27, 34)!important;
}
.btn .fa {
  margin-left: 3px;
}
h6 {    
  line-height: 1.7;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 0;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #0797E9;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 5s linear infinite;
  animation: spin 5s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */


#page {
  display: none;
  text-align: center;
}
/*----------------------------------------------------- NAVBAR*/
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-brand{
  position:absolute;
  left:20px;
  margin-top: 10px;
}
.menu{
    margin-top: 20px;
    left:50%;
    font-size: 1.2em;
}

/*----------------------------------------------------- INDEX CONTENT*/

.HOME{
    padding-top: 50px!important;
    color:#eaeaea;
}
.HOME h1{
  font-size:50px;
}
hr.hr-light {
  display: none;
}
.htxt{
    width: 400px;
}
.bbtn1{
    padding:8px 40px 8px 40px;
    position: relative;
    display:inline-block;
    font-size: 30px;
    color:#eaeaea;
    background: #0797E9;
    box-shadow: 0px 0px 20px rgba(7, 151, 233, 0.6);
}

.bbtn2{
    padding:8px 40px 8px 40px;
    position:relative;
    left:-10px;
    display:inline-block;
    font-size: 30px;
    background: #eaeaea;
    color:#0797E9!important;
}

.bbtn1:hover{
    color:#eaeaea
}
.bbtn1:hover, .bbtn2:hover{
    text-decoration: none;
}

.gitname{
  position: absolute;
  bottom: 10px;
  left:60px;
}
.gitname a:hover{
  text-decoration: none;
}
.social{
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
  position: absolute;
  transform: rotate(90deg);
  top:350px;
  left: -135px;
}
.social li{
  margin-right: 20px;
  
}
.social li a{
  color:#eaeaea!important;
}
/*----------------------------------------------------- SEARCH BAR*/

.search-bar{
  position:absolute;
  right: 0px;
  background: rgba(65, 74, 103, 0.45);
  backdrop-filter: blur(5px);
  width: 50px;
  height: 100%;
}

#PIND{
  position:relative;
  margin-top: 10em;
}

.item a{
  width: 20px;
  height: 20px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 18px;
  background-color:#eaeaea;
}

.activel a{
  width: 25px;
  height: 25px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
  background-color:#0797E9;
}

.sbtn{
  margin-left: 15px;
}
.sbtn i{
  margin-top: 20px;
}

/*----------------------------------------------------- NEWS*/

.news{
  position:absolute;
  padding:20px;
  width: 400px;
  height: 200px;  
  left: 650px;
  top:200px;
  background: rgba(65, 74, 103, 0.45);
  backdrop-filter: blur(7px);
  font-size: 17px;
}
.nbtn{
  position: absolute;
  top:-37px;
  left:0px;
  background-color: #eaeaea;
  color:#0797E9;
  padding:0px 20px 0px 20px;
  box-shadow: 0px 0px 20px rgba(249, 251, 255, 0.6);
}
.news div{
  font-size: 18px;
}
.news p{
  font-size: 13px;
  padding-bottom: 20px;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }

  .navbar-toggler{
    margin-top: 10px;
  }

  .navbar-brand{
    margin-top: 30px;
    margin-left: 75px;
  }
  .h1-responsive{
    font-size: 30px;
    margin-top: 30px;
  }
  .htxt{
    width: 70%;
    margin-left: 60px;
  }
  .bbtn1{
    padding: 4px 20px 4px 20px;;
  }
  .bbtn2{
    padding: 4px 20px 4px 20px;
  }
  .news{
    left: 75px;
    width: 250px;
    height: 160px;
    top:430px;
    text-align: justify;
  }
}
/*-------------------------------------------- RESPONSIVE DESIGN ---------------------------------------------------*/


/*---------------------------------------------------------------------------start of responsive css for min devices
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}
/*---------------------------------------------------------------------------end of responsive css for min devices*/


/*-----------------------------------------------------------------------start of responsive css for min medium devices
@media (min-width: 509px) and (max-width: 9 00px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
  .HOME{
    padding-top:50px!important;
  }
  .HOME h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
}
.htxt {
  width: 400px;
  text-align: left;
}
.htxt h6{
  font-size: 15px;
}
.resbtn {
  position: absolute;
}
.bbtn2 {
  font-size: 10px!important;
}
hr.hr-light {
  display: none;
}
}
*/
/*-------------------------------------------------------------------------end of responsive css for min medium devices*/


/*---------------------------------------------------------------------------start of responsive css for medium devices

@media (max-width: 991px) {
 html,
  body,
  header,
  .view {
    height: 100%;
  }
.HOME{
    padding-top: 75px!important;
    color:#eaeaea;
}
.menu{
  margin-left:25%!important;
  font-size: 1em;
}
.collapse:not(.show) {
  display: block!important;
}

.navbar-nav {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}
.navbar-nav li {
  margin-left: 10px;
}

.navbar-toggler{
  display:none;
}

.bbtn1{
  font-size: 20px;
}

.bbtn2{
  font-size: 20px;
  margin-left: 90px!important;
}

}
*/
/*---------------------------------------------------------------------------end of responsive css for medium devices*/
