/*----------------------------------------------------- */

html,
body,
header,
.view {
  height: 100%;
}
.btn .fa {
  margin-left: 3px;
}
h6 {    
  line-height: 1.7;
}

/*----------------------------------------------------- NAVBAR*/
.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

.navbar-brand{
  position:absolute;
  left:20px;
  margin-top: 10px;
}
.menu{
    margin-top: 20px;
    margin-left:35%;
    font-size: 1.2em;
}

/*----------------------------------------------------- INDEX CONTENT*/

.HOME{
    padding-top: 100px!important;
    color:#eaeaea;
}
.HOME h1{
  font-size:50px;
}
hr.hr-light {
  display: none;
}
.htxt{
    width: 400px;
}
.bbtn1{
    padding:8px 40px 8px 40px;
    position: absolute;
    font-size: 30px;
    color:#eaeaea;
    background: #0797E9;
    box-shadow: 0px 0px 20px rgba(7, 151, 233, 0.6);
}

.bbtn2{
    padding:8px 40px 8px 40px;
    position:absolute;
    margin-left: 100px;
    font-size: 30px;
    background: #eaeaea;
    color:#0797E9!important;
}

.bbtn1:hover{
    color:#eaeaea
}
.bbtn1:hover, .bbtn2:hover{
    text-decoration: none;
}

.gitname{
  position: absolute;
  bottom: 20px;
  left:60px;
}
.gitname a:hover{
  text-decoration: none;
}
/*----------------------------------------------------- SEARCH BAR*/

.search-bar{
  position:absolute;
  right: 0px;
  background: rgba(65, 74, 103, 0.45);
  backdrop-filter: blur(5px);
  width: 50px;
  height: 100%;
}

#PIND{
  position:relative;
  margin-top: 10em;
}

.item a{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin-top: 15px;
  margin-left: 18px;
  background-color:#eaeaea;
}

.activel a{
  width: 20px;
  height: 20px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 15px;
  background-color:#0797E9;
}

.sbtn{
  margin-left: 15px;
}
.sbtn i{
  margin-top: 20px;
}


/*-------------------------------------------- RESPONSIVE DESIGN ---------------------------------------------------*/


/*---------------------------------------------------------------------------start of responsive css for min devices*/
@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
}
/*---------------------------------------------------------------------------end of responsive css for min devices*/


/*-----------------------------------------------------------------------start of responsive css for min medium devices*/
@media (min-width: 509px) and (max-width: 9 00px) {
  html,
  body,
  header,
  .view {
    height: 100%;
  }
  .HOME{
    padding-top:50px!important;
  }
  .HOME h1 {
    text-align: left;
    font-size: 30px;
    margin-top: 10px;
}
.htxt {
  width: 400px;
  text-align: left;
}
.htxt h6{
  font-size: 15px;
}
.resbtn {
  position: absolute;
}
.bbtn2 {
  font-size: 10px!important;
}
hr.hr-light {
  display: none;
}
}
/*-------------------------------------------------------------------------end of responsive css for min medium devices*/


/*---------------------------------------------------------------------------start of responsive css for medium devices*/

@media (max-width: 991px) {
 html,
  body,
  header,
  .view {
    height: 100%;
  }
.HOME{
    padding-top: 75px!important;
    color:#eaeaea;
}
.menu{
  margin-left:25%!important;
  font-size: 1em;
}
.collapse:not(.show) {
  display: block!important;
}

.navbar-nav {
  display: -ms-flexbox!important;
  display: flex!important;
  -ms-flex-direction: row!important;
  flex-direction: row!important;
}
.navbar-nav li {
  margin-left: 10px;
}

.navbar-toggler{
  display:none;
}

.bbtn1{
  font-size: 20px;
}

.bbtn2{
  font-size: 20px;
  margin-left: 90px!important;
}

}
/*---------------------------------------------------------------------------end of responsive css for medium devices*/
